.toroshide {visibility: hidden; height: 0px;}
.torosshow {visibility: visible; height: 100%; }


.card-group [class*='col-'] {
    float:none;
}
#gif{
    position: fixed;
    z-index: 999999;
}

.navbar-expand-lg{
    border-radius: 0px 0px 15px 15px;
}
